<!DOCTYPE html>
<html>
<head>
<title>Welcome to the World of Knowledge and Creativity!</title>
<style>
        body {
            background-color: #FEECE2;
            margin: 0;
            padding: 0;
            text-align: left;
        }
 
        .noticia-text-regular {
            font-family: "Noticia Text", serif;
            font-weight: 400;
            font-style: normal;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #E2BFB3;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
 
        h1 {
            color: #333;
        }
 
        p {
            color: #666;
        }
 
        img {
            border-radius: 50%;
            margin-bottom: 20px;
        }
</style>
</head>
<body>
<div class="container">
<h1>Welcome to the My Page</h1>
<p><strong>About Me:</strong> My name is Rayline Cruz and i like to experiment when making new coffee recipe!</p>
<p><strong>Course:</strong> Bachelor of Science in Information Technology </p>
<p><strong>Section:</strong>BSIT32E3 </p>
</div>
</body>
</html>