<!DOCTYPE html>
<html>
<head>
    <title>Course Schedule</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #E2BFB3;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            max-width: 1000;
            margin: 50px auto;
            padding: 20px;
            background-color: #F7DED0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        .table {
            text-align: center;
            background-color: #FFF7F1;
            border-radius: 10px;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }


        th {
            background-color: #FFF7F1;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Class Schedule</h1>
        <main>
            <section id="lab-schedule">
                <table class="table">


                    <main>
                        <section id="lab-schedule">
                            <h2>Face-to-face</h2>
                            <table class="table">
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Subject</th>
                                    <th>Teacher</th>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>1:00 PM - 4:00 PM</td>
                                    <td>IT Elective 3 (Full Stack)</td>
                                    <td>Prof.Alamo</td>
                                </tr>
                            </table>
                        </section>
                    </main>
                    <main>
    </div>
</body>
</html>
